* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mynerve', cursive;
}

body {
    min-height: 100vh;
    background-color: white;
}

header {
    background-image: url(Rick-and-Morty.png);
    height: 30vh;
    background-color: orangered;
    background-size: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items:end;
    justify-content: center;
    gap: 4em;
    padding-top: 16em;
    padding-bottom: 1em;
}


.btn-todos, .btn-female, .btn-male, .btn-genderless, .btn-unknown {
    width: 6rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    background-color: rgb(10, 225, 225);
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-todos:hover, .btn-female:hover, .btn-male:hover, .btn-genderless:hover, .btn-unknown:hover {
    background-color: rgb(61, 255, 47);
    color: white;
}

.containerTodo {
    background-image: url(fondo-container.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2em;
}

.containerPag {
    display: flex;
    justify-content: right;
    padding: 1em;
    margin-right: 2em;
    font-size: 1.2rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.card {
    width: 13em;
    height: 20em;
    border-radius: 0.5rem;
    background-color: orangered;
    box-shadow: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 1em 1em 1em 0 white;
  }

h2 {
    margin: 1rem;
    text-align: center;
}

.card img {
    width: 10rem;
    height: 12rem;
}


.card-2 {
    border-radius: 1.5rem;
    width: 30vw;
    background-color: orangered;
    box-shadow: 0 0 1rem 0rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.card-2 h2 {
    font-size: 2.5rem;
}

.card-2 img {
    width: 100%;
    height: 100%;
    padding: 1em;
}

.btn {
    margin: 1rem;
    width: 5rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.3em;
    cursor: pointer;
}

.containerPaginado {
    display: flex;
    align-items:end;
    justify-content: center;
    gap: 2em;
}

.btn-primera, .btn-prev, .btn-next, .btn-ultima {
    width: 8rem;
    height: 2rem;
    font-weight: bold;
    font-size: 1rem;
    background-color:orangered;
    margin-top: 2em;
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-primera:hover, .btn-prev:hover, .btn-next:hover, .btn-ultima:hover {
    background-color: rgb(10, 225, 225);
    color: white;
}

footer {
    height: 2.5em;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    background: black;
    color: white;
    font-size: 1.2rem;
}

