* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mynerve', cursive;
}

body {
    min-height: 100vh;
    background-color: orangered;
}

header {
    background-image: url(Rick-and-Morty.png);
    background-color: orangered;
    height: 35vh;
    background-size: 100vh;
    background-position: center;
    background-repeat: no-repeat; 
}

header:hover {
    animation: achica 0.5s;
}

@keyframes achica{
    70% { transform:rotateZ( 0deg) scale(.5); }
}

nav {
    background-color: orangered;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1em;
    padding-left: 22vw;
    padding-right: 22vw;
    gap: 1em;
}

nav p {
    display: flex;
    align-items: center;
    font-weight: bold;
}


.btn-todos, .btn-female, .btn-male, .btn-genderless, .btn-unknownG, .btn-alive, .btn-dead, .btn-unknownS {
    width: 7em;
    height: 2em;
    font-weight: bold;
    font-size: 1em;
    background-color: rgb(10, 225, 225);
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-todos:hover, .btn-female:hover, .btn-male:hover, .btn-genderless:hover, .btn-unknownG:hover {
    background-color: rgb(61, 255, 47);
    color: white;
    box-shadow: 0 0 1em 0;
}

.btn-alive, .btn-dead, .btn-unknownS {
    width: 7rm;
    height: 2em;
    font-weight: bold;
    font-size: 1em;
    background-color: rgb(61, 255, 47);
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-alive:hover, .btn-dead:hover, .btn-unknownS:hover {
    background-color: rgb(10, 225, 225);
    color: white;
    box-shadow: 0 0 1em 0;
}

.containerTodo {
    background-image: url(fondo-container.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2em;
}

.containerPersonajes {
    font-size: 1.4em;
    font-weight: bold;
    color: black;
    padding: 1em;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.card {
    width: 15em;
    height: 20em;
    border-radius: 0.5em;
    background-color: orangered;
    box-shadow: 0 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover {
    box-shadow: 1em 1em 1em 0 white;
}

h2 {
    margin: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    height: 3.2em;
}

.card img {
    width: 10em;
    height: 12em;
    filter: grayscale(100%);
}

.card img:hover {
    filter: grayscale(0%);
    transform: rotateY(180deg);
}

.card-2 {
    border-radius: 1.5em;
    width: 30vw;
    background-color: orangered;
    box-shadow: 0 0 1em 0em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.card-2 h2 {
    font-size: 2.5em;
}

.card-2 img {
    width: 100%;
    height: 100%;
    padding: 1em;
    border-radius:10%;
}

.card-2 img:hover {
    animation: agranda 1s;
}

@keyframes agranda{
    50% { transform: scale(1.15); }
}

.btn {
    margin: 1em;
    width: 6em;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 0.3em;
    cursor: pointer;
    padding: 0.2em;
}

.containerPag {
    display: flex;
    justify-content: right;
    margin-top: 1em;
    padding: 1em;
    margin-right: 2em;
    font-size: 1.4em;
    font-weight: bold;
    color: orangered;
}

.containerPaginado {
    display: flex;
    align-items:end;
    justify-content: center;
    gap: 2em;
}

.btn-primera, .btn-prev, .btn-next, .btn-ultima {
    width: 8em;
    height: 2em;
    font-weight: bold;
    font-size: 1em;
    background-color:orangered;
    border-radius: 0.5em;
    cursor: pointer;
}

.btn-primera:hover, .btn-prev:hover, .btn-next:hover, .btn-ultima:hover {
    color: white;
    box-shadow: 0 0 1em 0;
}

footer {
    height: 2.5em;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    background: black;
    color: white;
    font-size: 1.2em;
}

@media (max-width: 600px) {
    header {
        background-size: 100vw;
        height: 20vh;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 40vh;
    }

    .card-2 {
        width: 80vw;
    }

    .containerPag {
        margin-right: 0.5em;
    }
    .containerPaginado {
        gap: 0.5em;
    }

    .btn-primera, .btn-prev, .btn-next, .btn-ultima {
        height: 3em;
    }
}